[user]
	email = Haynes.a467@gmail.com
	name = DarthMooMancer
[pull]
	rebase = false
[core]
	editor = nvim
[credential]
	helper = 
	helper = /usr/local/bin/git-credential-manager
	credentialStore = gpg
[credential "https://dev.azure.com"]
	useHttpPath = true
