/**
 *
 * Author : Aditya Shakya (adi1090x)
 * Github : @adi1090x
 * 
 * Colors
 **/

* {
    background:     #1E2127;
    background-alt: #2c3548;
    foreground:     #cce2dc;
    selected:       #19D1DF;
    active:         #F3C863;
    urgent:         #FAA15A;
}
